@model MySoccer.Presentacion.GestionarCalendario.ModeloDatosPartido;
@{
    ViewBag.Title = "Administrador_Partido";
    Layout = "~/Views/Layouts/_Administrador.cshtml";
}

<div class="uk-width-8-10 uk-push-2-10">
    <h1>Crear partido</h1>
    <form class="uk-form uk-form-horizontal" action="#" method="post">
        <div class="uk-form-row">
            <label class="uk-form-label">Fecha</label>
            <div class="uk-form-controls">
                @Html.TextAreaFor(model => Model.cFecha,Model.cFecha)
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Hora</label>
            <div class="uk-form-controls">
                @Html.TextAreaFor(model => Model.cHora,Model.cHora)
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Equipos</label>
            <div class="uk-form-controls">
                @Html.DropDownListFor(model => model.cEquipo1, new SelectList(Model.cEquipos, "Key", "Value"), new { @class = "uk-form-width-medium"}) 
                &nbsp
                @Html.DropDownListFor(model => model.cEquipo2, new SelectList(Model.cEquipos, "Key", "Value"), new { @class = "uk-form-width-medium" })
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Fase</label>
            <div class="uk-form-controls">
                @Html.TextAreaFor(model => Model.cFase,Model.cFase)
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Sede</label>
            <div class="uk-form-controls">
                @Html.DropDownListFor(model => model.cSede, new SelectList(Model.cSedes, "Key", "Value"), new { @class = "uk-form-width-medium" })
            </div>
        </div>
        <br />
        <a class="uk-button uk-button-primary uk-text-break uk-align-medium-right" href="@Url.Action("Administrador_Calendario")"><i class="uk-icon-times">&nbsp</i>Cancelar</a>
        <a class="uk-button uk-button-primary uk-text-break uk-align-medium-right" href="#"><i class="uk-icon-check">&nbsp</i>Crear partido</a>
    </form>
</div>
