@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Styles/JS/jquery.js"></script>
    <script src="~/Styles/JS/uikit.js"></script>
    <link href="~/Styles/uikit.almost-flat.css" rel="stylesheet" />
    <title>MySoccer</title>
</head>
<body class="uk-height-1-1">
    <div class="uk-width-9-10 uk-height-1-1 uk-container-center">
        <div class="uk-grid">
            <br />
            <div class="uk-width-3-6">
                @if ((Boolean)Session["EstadoUsuario"])
                {
                    <i class="uk-icon-user uk-icon-large">&nbsp</i><a href="@Url.Action("Fanatico_Perfil")" class="uk-link"> @Session["Nombre"] </a>
                }
                else
                {
                   <i class="uk-icon-user uk-icon-large">&nbsp</i><a class="uk-link"> @Session["Nombre"] </a>

                }
            </div>
            <div class="uk-width-1-6 uk-push-2-6">
                <a class="uk-link" href="@Url.Action("Index","Home")"> Cerrar sesión </a>
            </div>
        </div>
        <hr class="uk-grid-divider" />
        <div class="uk-grid uk-container-center">
            <div class="uk-width-2-10 uk-grid-divider">
                @if ((Boolean)Session["EstadoUsuario"])
                {
                    <a href="@Url.Action("Fanatico_Calendario")" class="uk-button uk-button-primary uk-width-1-1 uk-button-large uk-text-break">Ver calendario de juegos</a>
                }
                else
                {
                    <a class="uk-button uk-button-primary uk-width-1-1 uk-button-large uk-text-break" href="@Url.Action("Activar_Usuario", "Usuario")">Activar Cuenta</a>
                    <br /> <br />
                }
            </div>
            <div class="uk-width-8-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
