@model MySoccer.EjeTransversal.GestionarUsuarios.guiModeloFanatico
@{
    ViewBag.Title = "Fanatico_Perfil";
    Layout = "~/Views/Layouts/_Fanatico.cshtml";
}

<div class="uk-grid">
    <div class="uk-width-1-3 uk-push-1-10">
        <img src="@Url.Content(Model.cRutaImagen)" alt="Image" width="200" />
    </div>
    <div class="uk-width-2-3 uk-vertical-align-middle">
        <h1>@Html.LabelFor(model => model.cNombre, Model.cNombre + " " + Model.cApellido)</h1>
    </div>
</div>
<br />
<div class="uk-grid">
    <div class="uk-width-3-10 uk-push-1-10">
        <label>Género</label>
        <br />
        <label>País</label>
        <br />
        <label>Fecha de nacimiento</label>
        <br />
        <label>Correo electrónico</label>
        <br />
        <label>Equipo favorito</label>
        <br />
        <label>Fecha de inscripción</label>
    </div>
    <div class="uk-width-3-10 uk-push-1-10">
        <label>@Html.LabelFor(model => model.cGenero, Model.cGenero)</label>
        <br />
        <label>@Html.LabelFor(model => model.cPais, Model.cPais)</label>
        <br />
        <label>@Html.LabelFor(model => model.cFechaNacimiento, Model.cFechaNacimiento)</label>
        <br />
        <label>@Html.LabelFor(model => model.cCorreoElectronico, Model.cCorreoElectronico)</label>
        <br />
        <label>@Html.LabelFor(model => model.cEquipo, Model.cEquipo)</label>
        <br />
        <label>@Html.LabelFor(model => model.cFechaInscripcion, Model.cFechaInscripcion)</label>
    </div>
    <div class="uk-width-3-10 uk-push-1-10">
        <label>Descripción personal</label>
        <br />
        <label>@Html.LabelFor(model => model.cDescripcion, Model.cDescripcion)</label>
        <br />
    </div>
</div>
<div class="uk-width-1-3 uk-push-2-4 ">
    <br />
    <a class="uk-button uk-button-primary uk-text-break uk-align-right" href="@Url.Action("Fanatico_Editar_Perfil")"><i class="uk-icon-magic">&nbsp</i>Editar</a>
</div>
